# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                        @Sage/carbon-design-tokens

# The Carbon Design Tokens team are responsible for reviewing Pull Requests
# that contain any change modifying JS, TS or JSON files
*.js                     @Sage/carbon-design-tokens
*.ts                     @Sage/carbon-design-tokens
*.json                   @Sage/carbon-design-tokens

# Codeowners file changes must be approved by a Carbon Design Tokens
# team member.
.github/CODEOWNERS       @Sage/carbon-admin
