<table class="table is-bordered is-hoverable is-fullwidth">
  <colgroup>
    <col width="50%">
    <col width="25%">
    <col width="35%">
  </colgroup>
  <thead>
    <tr>
      <th class="has-background-light">Name</th>
      <th class="has-background-light">Value</th>
      <th class="has-background-light">Preview</th>
    </tr>
  </thead>
    {{#each tokens as |token|}}
        {{> list-item token=token category=category theme=theme}}
    {{/each}}
</table>
