@font-face {
  font-family: "SageUI";
  font-style: normal;
  font-weight: 400;
  src:local("SageUI Regular") local("SageUI-Regular");
  src:url("./sageui-regular.woff2") format("woff2"), 
      url("./sageui-regular.woff") format("woff"), 
      url("./sageui-regular.ttf") format("truetype"),  
      url("./sageui-regular.otf") format("opentype");
}

@font-face {
  font-family: "SageUI";
  font-style: normal;
  font-weight: 500;
  src:local("SageUI Medium") local("SageUI-Medium");
  src:url("./sageui-medium.woff2") format("woff2"),
      url("./sageui-medium.woff") format("woff"),
      url("./sageui-medium.ttf") format("truetype"),
      url("./sageui-medium.otf") format("opentype");
}

@font-face {
  font-family: "SageUI";
  font-style: normal;
  font-weight: 700;
  src:local("SageUI Bold") local("SageUI-Bold");
  src:url("./sageui-bold.woff2") format("woff2"),
      url("./sageui-bold.woff") format("woff"),
      url("./sageui-bold.ttf") format("truetype"),
      url("./sageui-bold.otf") format("opentype");
}
