<div class="layout">
    <aside class="hide-on-embedded navigation menu py-0">
        {{>tokens-navigation}}
    </aside>
    <main class="content">
        <h1 class="hide-on-embedded">
            <a href="../../index.html">
                Sage Design Tokens
            </a>
            /
            <a href="../index.html">
                {{themeName}}
            </a>
            /
            {{categoryName}}
        </h1>

        <section class="my-6">
            {{>list tokens=tokens category=categoryName theme=themeName}}
        </section>
    </main>
</div>

