name: Build
on:
  pull_request:
    branches:
      - master
      
jobs:
  # Builds token library.
  build:
    name: Build library
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
      
      - name: Update npm to 11.8
        run: npm install -g npm@11.8

      - run: npm ci --prefer-offline --ignore-scripts

      - name: Append .env
        run: |
          echo "
          FIGMA_ACCESS_TOKEN=${{ secrets.FIGMA_ACCESS_TOKEN }}
          FIGMA_FILE_ID=${{ secrets.FIGMA_FILE_ID }}
          " >> .env

      - name: Build
        run: npm run build
