name: Lint
on:
  pull_request:
    branches:
      - master

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"

      - name: Install
        run: npm ci --prefer-offline

      - name: Build project
        run: npm run build

      - name: Run stylelint
        run: npm run stylelint:dist

      - name: Download W3C Validator (vnu.jar)
        run: wget https://github.com/validator/validator/releases/download/latest/vnu.jar

      - name: Validate CSS
        run: |
          # Find all CSS files in dist directory and run validation
          find ./dist -name "*.css" -print0 | xargs -0 java -jar vnu.jar --css

      - name: Validate JSON
        run: |
          # Find all JSON files in dist directory and run validation
          npx jsonlint ./dist/**/*.json --no-duplicate-keys

      - name: Check for [object Object] in SCSS
        run: |
          if grep -r '\[object Object\]' dist/scss; then
            echo "Error: Found [object Object] in SCSS files."
            exit 1
          fi

      - name: Compile SCSS
        run: |
          (
            echo "@import 'global.scss';"
            echo "@import 'dark.scss';"
            echo "@import 'light.scss';"
            for f in dist/scss/components/*.scss; do
              fname=$(basename "$f")
              echo "@import 'components/$fname';"
            done
          ) > dist/scss/index.scss
          npx sass dist/scss/index.scss dist/scss/index.css
