name: Run Tests
on:
  pull_request:
    branches:
      - master

jobs:
  run-unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install
        run: npm ci --prefer-offline

      - name: Build
        run: npm run build

      - name: Run tests
        run: npm test
